<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" *ngIf="loginService.isUserLoggedIn()"  href="#" routerLinkActive="active"> Acceuil </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="loginService.isUserLoggedIn()" routerLink="listProviders" routerLinkActive="active"> Provider</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" *ngIf="loginService.isUserLoggedIn()"  routerLink="listArticles"routerLinkActive="active"> Article</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  *ngIf="loginService.isUserLoggedIn()"  routerLink="contact" routerLinkActive="active"> Contact</a>
          </li>
      <!--  <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>-->
        <li class="nav-item">
          <a class="nav-link"  *ngIf="loginService.isUserLoggedIn()"   routerLink="register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  *ngIf="!loginService.isUserLoggedIn()"  routerLink="login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="dashbaordAdmin" *ngIf="loginService.isUserLoggedIn()" 
            routerLinkActive="active">Dashboard Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="dashbaordMedecin" *ngIf="loginService.isUserLoggedIn()" 
            routerLinkActive="active">Dashboard Medecin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  *ngIf="loginService.isUserLoggedIn()"  routerLink="logout">Logout</a>
        </li>
      </ul>
     
    </div>
  </nav>
